<%= link "Back", to: page_path(@conn, :index), class: "is-pulled-right" %>
<h2 class="title">Update Settings</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_path(@conn, :update, @user) %>
