<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="notification is-danger">
      Oops, something went wrong! Please check the errors below.
    </div>
  <% end %>

  <%= email_tag(f, :email) %>
  <%= password_tag(f, :password) %>
  <%= password_tag(f, :password_confirmation) %>

  <%= submit_tag "Register" %>
<% end %>
