<%= link "Back", to: page_path(@conn, :index), class: "is-pulled-right" %>
<h2 class="title">Register</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_path(@conn, :create) %>
