<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MemoWeb</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-head">
        <header class="nav">
          <div class="container">
            <div class="nav-left">
              <h1 class="title">
                <%= nav_link @conn, "MemoWeb", memo_path(@conn, :index) %>
              </h1>
            </div>
            <nav class="nav-right">
              <%= if logged_in?(@conn) do %>
                <%= nav_link @conn, "Settings", user_path(@conn, :edit, current_user(@conn)) %>
                <%= link "Logout", to: session_path(@conn, :delete), form: [class: "nav-item"], method: :delete %>
              <% else %>
                <%= nav_link @conn, "Register", user_path(@conn, :new) %>
                <%= nav_link @conn, "Login", session_path(@conn, :new) %>
              <% end %>
            </div>
          </nav>
        </header>
      </div>
    </section>
    <main class="section">
      <div class="container">
        <%= if get_flash(@conn, :info) do %>
          <div class="notification is-info">
            <%= get_flash(@conn, :info) %>
          </div>
        <% end %>
        <%= if get_flash(@conn, :error) do %>
          <div class="notification is-danger">
            <%= get_flash(@conn, :error) %>
          </div>
        <% end %>
        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
