<section class="has-padding-bottom">
  <h1 class="title">
    MemoWeb
  </h1>
  <h2 class="subtitle">
    <%= if assigns[:user] do %>
      Posts by "<%= user_name(@user) %>"
    <% else %>
      Write your memos on the web
    <% end %>
  </h2>
</section>

<%= for memo <- @memos do %>
  <%= render "memo.html", memo: memo, conn: @conn %>
<% end %>

<%= paginate @conn, @kerosene %>
