// see http://clrs.cc/ for the origin of these colors
$white: #ffffff;
$orange: #ff851b;
$blue: #0074D9;
$purple: #b10dc9;
$green: #2ecc40;
$red: #ff4136;
$yellow: #ffdc00;

$light-blue: lighten($blue, 50);

$primary: $blue;

$body-background: $light-blue;
